
:root{
    /* フォントファミリーの定義 */
    --ff-serif: "Zen Maru Gothic", sans-serif; /* メインの明朝体 */
    --ff-num: "Montserrat", sans-serif; /* 補足用のゴシック体 */
    
    /* メインフォントサイズを定義 */ /* clamp(最小, 可変, 最大) */
    --fz-48: clamp(36px, 6vw, 54px);
    --fz-40: clamp(32px, 5vw, 40px);
    --fz-36: clamp(24px, 4.5vw, 36px);
    --fz-32: clamp(20px, 4vw, 32px);
    --fz-24: clamp(20px, 3vw, 24px);
    --fz-20: clamp(16px, 2.5vw, 20px);
    --fz-16: clamp(14px, 1.7vw, 16px);
    
    /* 行間 */
    --line-height-base: 1.8; /* 10% */
    --line-height-tight: 1.2; /* 5% */
    /* 字間 */
    --letter-spacing-tight: 0.05em; 
    --letter-spacing-base: 0.1em; /* セクションタイトルを少し優雅に */

    /* 色 */
    --color-main: #F2E2C4;
    --color-accent: #A62F03;
    --color-txt:#D98218;
    
}
.num{
    font-family: var(--ff-num);
    font-weight: 400;
    font-style: normal; 
    letter-spacing: 0.02em;
}

body{
    background-color: var(--color-main);
    font-family: var(--ff-serif);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    color: var(--color-txt);
    font-size: var(--fz-20);
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
}
.section-title{
    margin: 0 auto clamp(50px,8vw,100px);
    font-size: var(--fz-32);
    text-align: center;
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.section-title span{
    font-size: var(--fz-40);
}
/*--- ファーストビュー ---*/
.fv{
    width: 100%;
    min-height: 900px;
    /* 背景画像として設定 */
    background-image: url('../images/fv-1.png');
    background-size: cover;    /* 画像を隙間なく敷き詰める */
    background-position: center; /* 画像の真ん中を基準にする */
    background-repeat: no-repeat;
    
    /* 上下の余白をしっかり取る（これがセクションの高さになる） */
    padding: 140px 0 0 0; 
    
    /* 中の文字を読みやすくするための微調整（暗くしたりなど） */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.fv-img{
    display: none;
}
.fv-inner{
    max-width: 960px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.fv-circle{
    width: clamp(75px,18vw,200px);
    height: clamp(75px,18vw,200px);
    border-radius: 50%;
    background-color: var(--color-accent);
    color: var(--color-main);
    font-size:clamp(20px,4.2vw,40px);
    font-weight: bold;
    line-height: var(--line-height-tight);
    letter-spacing: var(--letter-spacing-tight);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}
.fv-body{
    background-color: rgba(242, 226, 196, 0.8);
    color: var(--color-txt);
    width: 480px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}
.fv-body h1{
    font-size: var(--fz-48);
    font-weight: bold;
}
.fv-body p{
    font-size: var(--fz-32);
    font-weight: bold;
    line-height: var(--line-height-tight);
    text-align: center;
}
.fv-body-main{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    font-size: var(--fz-36);
    font-weight: bold;
    letter-spacing: var(--letter-spacing-tight);
    line-height: var(--line-height-tight);
}
.fv-body-main span{
    font-size: var(--fz-40);
}

@media screen and (max-width: 768px) {
    .fv{
        min-height: 725px;
        /* 背景画像として設定 */
        background-color: var(--color-main);
        background-image: none;
        padding:0; 
    }
    .fv-inner{
        margin: 50px auto;
    }
    .fv-body{
        width: 100%;
        height: auto;
        flex: 1;
        gap: 10px;
    }
    .fv-img{
        display: block;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}
/*--- このパンについて ---*/
.about{
    /* 背景画像として設定 */
    background-color: var(--color-main);
    
    /* 上下の余白をしっかり取る（これがセクションの高さになる） */
    padding: clamp(50px, 8vw, 100px) 0;
    
    /* 中の文字を読みやすくするための微調整（暗くしたりなど） */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-inner{
    max-width: 960px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(40px, 5vw,50px);
}
.about-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-box img{
    width: clamp(230px,45vw, 440px);
    height: clamp(164px,32vw, 314px);
    border-radius: 10px;
    object-fit: cover;
}
.about-box-itembox{
    width: 100%;
    max-width: 480px;
    display: flex;
    font-size: var(--fz-20);
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: clamp(10px,2vw,20px);
    font-size: var(--fz-20);
}
.about-box-item{
    width: clamp(90px,12vw,120px);
    height: clamp(90px,12vw,120px);
    border: 1px solid var(--color-txt);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .about-box{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 40px;
        letter-spacing: normal;
    }
}
/*--- なぜ､30本限定なのか ---*/
.why{
    width: 100%;
    min-height: 702px;
    /* 背景画像として設定 */
    background-image: url('../images/why-1.png');
    background-size: cover;    /* 画像を隙間なく敷き詰める */
    background-position: center; /* 画像の真ん中を基準にする */
    background-repeat: no-repeat;
    
    /* 上下の余白をしっかり取る（これがセクションの高さになる） */
    padding: clamp(50px, 8vw, 100px) 0 0 0;
    
    /* 中の文字を読みやすくするための微調整（暗くしたりなど） */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.why-inner{
    max-width: 960px;
    width: 95%;
    margin: 0 auto;
}
.why-inner p{
    font-size: var(--fz-20);
    text-align: center;
    margin-bottom: clamp(50px,8vw,100px);
}
@media screen and (max-width: 768px) {
    .why{
        min-height: 505px;
        letter-spacing: normal;
    }
}
/*--- 予約 ---*/
.booking{
    width: 100%;
    min-height: 720px;
    /* 背景画像として設定 */
    background-image: url('../images/booking-1.png');
    background-size: cover;    /* 画像を隙間なく敷き詰める */
    background-position: center; /* 画像の真ん中を基準にする */
    background-repeat: no-repeat;
    
    /* 上下の余白をしっかり取る（これがセクションの高さになる） */
    padding: clamp(50px, 8vw, 100px) 0;
    
    /* 中の文字を読みやすくするための微調整（暗くしたりなど） */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.booking-inner{
    max-width: 960px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.booking-txtbox{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.booking-txtbox p{
    font-size: var(--fz-24);
    text-align: center;
    margin-bottom: 50px;
}
.booking-checkbox{
    max-width: 480px;
    width: 100%;
    border: 1px solid var(--color-txt);
    padding: clamp(20px, 4vw, 50px) clamp(4px, 1vw, 10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
}
.booking-checkbox-item{
    display: flex;
    align-items: center;
}
.booking-checkbox-item img{
    width: 20px;
    height: 20px;
}
.booking-checkbox-item p{
    font-size: var(--fz-32);
    letter-spacing: var(--letter-spacing-tight);
    line-height: var(--line-height-tight);
    margin: 0;
}
.booking-box{
    max-width: 360px;
    width: 100%;
    background-color: var(--color-txt);
    color: var(--color-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: clamp(5px, 1vw, 10px);
}
.booking-box-item{
    width: 90%;
    text-align: center;
}
.booking-box-item h3{
    font-size: var(--fz-32);
    font-weight: bold;
}
.booking-box-itemtxt{
    display: flex;
    flex-wrap: wrap;
    font-size: var(--fz-20);
    font-weight: bold;
    justify-content: center;
    align-items: baseline;
}
@media screen and (max-width: 768px) {
    .booking{
        min-height: 815px;
    }
    .booking-inner{
        flex-direction: column;
        gap: 40px;
    }
    .booking-box{
        padding: 30px 4px;
    }
}
/*--- 店舗情報 ---*/
.info{
    background-color: var(--color-txt);
    /* 上下の余白をしっかり取る（これがセクションの高さになる） */
    padding: clamp(50px, 8vw, 100px) 0;

    /* 中の文字を読みやすくするための微調整（暗くしたりなど） */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-inner{
    max-width: 960px;
    width: 95%;
    margin: 0 auto;
    color: var(--color-main);
}
.info-body{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.info-body h3{
    font-size: var(--fz-36);
    font-weight: bold;
}
.info-box{
    font-size: var(--fz-32);
    font-weight: bold;
}
.info-map{
    width: 100%;
    max-width: 960px;
    height: clamp(100px,15vw,150px);
    margin: clamp(50px,8vw,100px) 0;
}
@media screen and (max-width: 768px) {
    .info-body{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }
}
/*--- 最後に ---*/
.last{
    width: 100%;
    min-height: 1034px;
    /* 背景画像として設定 */
    background-image: url('../images/last-1.png');
    background-size: cover;    /* 画像を隙間なく敷き詰める */
    background-position: center; /* 画像の真ん中を基準にする */
    background-repeat: no-repeat;
    
    /* 上下の余白をしっかり取る（これがセクションの高さになる） */
    padding: clamp(50px, 8vw, 100px) 0 0 0;
    
    /* 中の文字を読みやすくするための微調整（暗くしたりなど） */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.last-inner{
    max-width: 960px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.last-inner img{
    width: 100%;
    height: clamp(100px,12vw,150px);
    object-fit: cover;
    border-radius: 10px;
    margin: clamp(25px,4vw,50px) auto;
}

@media screen and (max-width: 768px) {
    .last{
        min-height: 786px;
    }
}

/*--- CTA ---*/
.cta{
    width: 100%;
    height: 220px;
    background-color: var(--color-txt);
}
.cta-inner{
    width: 95%;
    max-width: 960px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:auto;
}
.cta-titlebox{
    width: 100%;
    max-width: 480px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cta-titlebox img{
    width: clamp(100px,12vw,145px);
    height: auto;
}
.cta-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-main);
}
.cta-txt h5{
    font-size: var(--fz-32);
    font-weight: bold;
    margin: 0;
}
.cta-price{
    display: flex;
    align-items: baseline;
    font-size: var(--fz-24);
    font-weight: bold;
}
.cta-price span{
    font-size: var(--fz-40);
}
.cta-btn-box{
    margin: auto 0;
    width: 100%;
    max-width: 480px;
}
.cta-btn-box p{
    color: var(--color-main);
    font-size: var(--fz-16);
}
.cta-btn{
    width: 100%;
    max-width: 480px;
    height: clamp(55px,7vw,80px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--color-accent);
    color: var(--color-main);
    font-weight: bold;
    font-size: var(--fz-36);
    border-radius: 10px;
    justify-content: center;
}
.cta-btn-box p{
    font-size: var(--fz-16);
}
.cta-btn span{
    font-size: var(--fz-32);
    font-weight: bold;
}
.cta-num{
    font-size: var(--fz-40);
}
@media screen and (max-width: 768px) {
    .cta{
        height: 255px;
    }
    .cta-inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .cta-btn-box{
        margin: 0;
    }
}
/*== 固定バー　==*/
.fixed-bar{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    max-width: 390px;
    height: 80px;
    background-color: var(--color-txt);
    color: var(--color-main);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fixed-bar-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fixed-bar-title{
    font-size: var(--fz-16);
    text-align: center;
}
.fixed-bar-txtbox{
    display: flex;
    align-items: baseline;
    font-size: var(--fz-20);
    font-weight: bold;
}
.num-big{
    font-size: var(--fz-32);
    font-family: var(--ff-num);
    font-weight: 400;
    font-style: normal; 
    letter-spacing: 0.02em;
}
.num-small{
    font-size: var(--fz-20);
    font-family: var(--ff-num);
    font-weight: 400;
    font-style: normal; 
    letter-spacing: 0.02em;
}
.fixed-bar-btn{
    width: 160px;
    height: 55px;
    background-color: var(--color-accent);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fz-24);
    font-weight: bold;
    text-align: center;
}